---
export interface Props {
  id?: string;
  placement?: 'bottom-start' | 'bottom-end' | 'top-start' | 'top-end';
  class?: string;
  menuClass?: string;
}

const { 
  id = 'dropdown',
  placement = 'bottom-start',
  class: className = "",
  menuClass = ""
} = Astro.props;

const getComponentClasses = () => {
  return 'dropdown';
};

const getMenuClasses = () => {
  return 'dropdown-menu';
};

const placementClasses: { [key: string]: string } = {
  'bottom-start': 'position-top-full position-left-0 margin-top-2',
  'bottom-end': 'position-top-full position-right-0 margin-top-2',
  'top-start': 'position-bottom-full position-left-0 margin-bottom-2',
  'top-end': 'position-bottom-full position-right-0 margin-bottom-2'
};
---

<!-- 
Pine UI Dropdown Component

Usage:
<Dropdown placement="bottom-start">
  <div slot="trigger">
    <Button>Open Menu</Button>
  </div>
  
  <div slot="menu">
    <div class="dropdown-header">Account</div>
    <a href="#" class="dropdown-item">Profile</a>
    <a href="#" class="dropdown-item">Settings</a>
    <div class="dropdown-separator"></div>
    <a href="#" class="dropdown-item dropdown-item-danger">Sign out</a>
  </div>
</Dropdown>

Features:
- Click outside to close
- Multiple placement options
- Smooth transitions
- Alpine.js powered
- Design system classes
- Semantic structure
-->

<div 
  x-data="{ dropdownOpen: false }" 
  class={`${getComponentClasses()} ${className}`}
>
  <!-- Trigger -->
  <div class="dropdown-trigger" @click="dropdownOpen = !dropdownOpen">
    <slot name="trigger" />
  </div>
  
  <!-- Menu -->
  <div 
    x-show="dropdownOpen" 
    @click.away="dropdownOpen = false"
    x-transition:enter="transition-enter"
    x-transition:enter-start="transition-enter-start"
    x-transition:enter-end="transition-enter-end"
    x-transition:leave="transition-leave"
    x-transition:leave-start="transition-leave-start"
    x-transition:leave-end="transition-leave-end"
    class={`${getMenuClasses()} ${placementClasses[placement]} ${menuClass}`}
    x-cloak
  >
    <slot name="menu" />
  </div>
</div>